<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/yurii-zhukow/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="yurii-zhukow" />
            <add key="ClearTextPassword" value="85a49d7647d46aed3c8c26a1734b63e2d8ca783e" />
        </github>
    </packageSourceCredentials>
</configuration>